body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.cv-container {
    max-width: 800px;
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cv-header h1 {
    margin-top: 0;
}
.experience__header {
    font-weight: bold;
}
.cv-summary, .cv-experience, .cv-projects, .cv-skills, .cv-education {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #007BFF;
    color: #007BFF;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li::before {
    content: "• ";
    color: #007BFF;
}

@media screen and (max-width: 768px) {
    .cv-container {
        margin: 10px;
        padding: 10px;
    }
}
